.title {
	  color: rgb(2, 179, 2);
		background-color: rgb(83, 25, 25);
    font-family: "Tahoma";
		font-size: 50px;
    text-align: center;
}

.txt {
	font-family: 'Permanent Marker', cursive, 'Tahoma';
}

.txt2 {
	font-family: 'Staatliches', cursive, 'Tahoma';
}

img.resizeleft {
	--horizontal-size: 200px;
  --vertical-size: 1px;
	max-width:22%;
  max-height:22%;
	float: right;
	padding-left: var(--horizontal-size);
	padding-right: var(--horizontal-size);
	padding-top: var(--vertical-size);
	padding-bottom: var(--vertical-size);
	}

img.resizebod {
  max-width:100px;
  max-height:100px;
  border-radius: 50%;
  border-style: solid;
	border-width: 5px;
	border-color: green;
	}

h3 {
	background-color: cornflowerblue;
}

body {
	background-color: rgb(214, 213, 213);
}

footer{
	font-size: 10px;
}