.title {
	    color: rgb(2, 179, 2);
		background-color: rgb(83, 25, 25);
    font-size: 50px;
    font-family: "Tahoma";
    text-align: center;
}

img.resize {
  max-width:22%;
  max-height:22%;
	float: right;
	}

